.wrapper {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.wrapper main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0.5;
  justify-content: center;
}